// 필요한 변수를 담는 공간
// css로 바뀔 필요가 없으니 제목앞에 _를 붙인다

// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// size
$large: 1.8em;
$medium: 1.3em;
$small: 1em;

// color
$color-1: #242943;
$color-2: #ffffff;
