@import "./variables";

.tiles {
  bottom: 0;
  display: flex;
  left: 0;
  z-index: 2;
  border: 0;
  box-sizing: inherit;
  height: 20em;
}

#one article:nth-child(1) {
  background-color: #6fc3df;
  width: 40%;
  padding: 4em 3em 2em 3em;
}

#one article:nth-child(2) {
  background-color: #8d82c4;
  width: 60%;

  padding: 4em 3em 2em 3em;
}

#two article:nth-child(1) {
  background-color: #ec8d81;
  width: 60%;

  padding: 4em 3em 2em 3em;
}
#two article:nth-child(2) {
  background-color: #e7b788;
  width: 40%;

  padding: 4em 3em 2em 3em;
}

#three article:nth-child(1) {
  background-color: #8ea9e8;
  width: 40%;

  padding: 4em 3em 2em 3em;
}
#three article:nth-child(2) {
  background-color: #87c5a4;
  width: 60%;

  padding: 4em 3em 2em 3em;
}

// @include mobile {

// }
