@import "./variables";
@import "./mixin";

.tiles {
  bottom: 0;
  display: flex;
  left: 0;
  z-index: 2;
  border: 0;
  box-sizing: inherit;
  height: 20em;
  color: $color-2;
}

#one article:nth-child(1) {
  background-color: #6fc3df;
  width: 40%;
  padding: $section-padding;
}

#one article:nth-child(2) {
  background-color: #8d82c4;
  width: 60%;
  padding: $section-padding;
}

#two article:nth-child(1) {
  background-color: #ec8d81;
  width: 60%;
  padding: $section-padding;
}
#two article:nth-child(2) {
  background-color: #e7b788;
  width: 40%;
  padding: $section-padding;
}

#three article:nth-child(1) {
  background-color: #8ea9e8;
  width: 40%;
  padding: $section-padding;
}
#three article:nth-child(2) {
  background-color: #87c5a4;
  width: 60%;
  padding: $section-padding;
}

@include mobile {
  #one article:nth-child(1) {
    width: 50%;
  }

  #one article:nth-child(2) {
    width: 50%;
  }
  #two article:nth-child(1) {
    width: 50%;
  }

  #two article:nth-child(2) {
    width: 50%;
  }
  #three article:nth-child(1) {
    width: 50%;
  }

  #three article:nth-child(2) {
    width: 50%;
  }
}
