@import "./variables";

.tiles {
  bottom: 0;
  display: flex;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #6fc3df;
  border: 0;
  box-sizing: inherit;

  article {
    height: 20em;
    width: 60%;
  }
}
